<!DOCTYPE html>
<html lang="en">

<body>

  <!-- Main Content -->
  <main>
    <section id="welcome">
      <h2>Welcome to CSE Motors!</h2>
      <img src="/images/delorean.jpg" alt="DMC DeLorean">
      <button>Own Today</button>
    </section>

    <section id="details">
      <h3>DMC DeLorean Details</h3>
      <p>3 Cup holders, Superman doors, Fuzzy dice!</p>
    </section>

    <section id="upgrades">
      <h3>DeLorean Upgrades</h3>
      <ul>
        <li>Flux Capacitor</li>
        <li>Flame Decals</li>
        <li>Bumper Stickers</li>
        <li>Hub Caps</li>
      </ul>
    </section>

    <section id="reviews">
      <h3>DMC DeLorean Reviews</h3>
      <ul>
        <li>"So fast it’s almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I’m feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80’s livin and I love it!" (5/5)</li>
      </ul>
    </section>
  </main>

  <!-- Footer Partial -->
  <%- include('partials/footer') %>
</body>
</html>
